/* Sign-inSign-up */

.authentication-page {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .col-lg-12 {
    margin-top: 10px;
  }

  .login-page {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .login-content {
    display: flex;
  }

  .form-column {
    flex: 1;
  }

  .about-column {
    flex: 1;
  }

  .about-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-section h2 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
  }
  .about-section p {
    font-size: 17px;
    line-height: 1.6;
    color: #333333;
  }
  .separator {
    width: 100%;
    max-width: 220px;
    height: 1px;
    background-color: #333;
    margin: 20px auto;
    opacity: 0.7;
    border-radius: 2px;
  }

  .logo-container {
    text-align: center;
    margin-top: 20px;
  }

  .about-logo {
    width: 280px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  .about-logo:hover {
    transform: scale(1.05);
  }


  .login-popup {
    padding: 6px;
    height: 735px;
    overflow: auto;
  }


  .login-content {
    padding: 20px;
    border: 1.5px solid #f1f1f1;
    border-radius: 10px;
  }

  .form-section {
    margin-bottom: 20px;
  }

  .footer-section {
    padding: 20px;
    border-top: 1px solid #f1f1f1;
    background: #f9f9f9;
  }


  .forgot-password-link {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
  }


  .no-pdd {
    padding: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease-in-out;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }